*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .c-slider{
    height: 75vh;
}

main .s-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview{
    background: #d3dae1;
    height: 180px;
}

